   html,
body {
  height: 100%;
}

body {
 /* background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
	*/
	color:#000;
}


#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
div.init {
    padding: 15vw 0vw 0vw 0vw;
}
div.init button {
    padding: 1vw;
}
/* Other Classes for Page Styling */


.generator{
	padding: 5vw;
}